<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Song</title>
</head>
<body>
<form action="/songs/editSong" method="post" th:object="${song}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Name of the song</label>
        <input type="text" th:text="${song.nameSong}" th:field="*{nameSong}">
        <p th:if="${#fields.hasErrors('nameSong')}" th:errors="*{nameSong}"></p>
    </div>
    <div>
        <label>Singer</label>
        <input type="text" th:text="${song.singer}" th:field="*{singer}">
        <p th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></p>
    </div>
    <div>
        <label>Type</label>
        <input type="text" th:text="${song.typeSong}" th:field="*{typeSong}">
        <p th:if="${#fields.hasErrors('typeSong')}" th:errors="*{typeSong}"></p>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>
</body>
</html>